<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta tag required for boostrap -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>AdminPage</title>
</head>
<body>

<nav th:replace="navbars/AdminNavBar :: navbar"></nav>


    <!-- Box for the product of the day -->
    <div th:unless="${product == null}" class="mt-5 text-center">
        Product of today:
        <p th:text="${product.getName()}"></p>
        <br />
        <img class="img-thumbnail text-center" th:src="*{'data:image/png;base64,'+ product.imageString()}"
             alt="ProductImage" th:alt="'Image of: '+ ${product.getName()}">
    </div>
    <div th:if="${product == null}" class="mt-5 text-center">
        <p>There's no product for today</p>
    </div>


    <div  class="mt-5 text-center">
        <a href="AddNewProduct"> Add a new product! </a>
    </div>


</body>
</html>