<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" th:lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta tag required for boostrap -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>ReviewQuestionnaires</title>
</head>
<body>

<nav th:replace="navbars/AdminNavBar :: navbar"></nav>

    <!-- main div with product information -->
    <div class="mx-5 my-5">
        <label th:text="${product.getName()}"></label>
        <img class="img-thumbnail text-center" th:src="*{'data:image/png;base64,'+ product.imageString()}"
             alt="ProductImage" th:alt="'Image of: '+ ${product.getName()}">
    </div>

    <!-- general information about the questionnaire-->
    <div class="mx-5 my-5">
        Users that completed the questionnaire: <p th:text="${numSubmitted}"></p> <br />
        Users that cancelled the questionnaire: <p th:text="${numCancelled}"></p> <br />
    </div>

    <!-- list of questions -->
    <div class="mx-5 my-5">
        <ul th:each="question : ${questions}">
            <li>
                <label th:text="${question.getPoints() > 1 ? 'Mandatory' : 'Facultative'}"></label> <br />
                <label th:text="${question.getIdQuestion()}"></label>
                <label th:text="${question.getQuestionText()}"></label>

                <!-- sublist of answers -->
                <!-- the page displays the answers grouped by the question -->
                <div class="m-5">
                    <ul th:each="answer : ${answers}">
                        <li th:if="${answer.getIdQuestion() == question.getIdQuestion() && answer.getIdProduct() == product.getIdProduct()}">
                            <label th:text="${answer.getUserByIdUser().getUsername()}"></label> :
                            <label th:text="${answer.getAnswerText()}"></label>
                        </li>
                    </ul>
                    <hr />
                </div>
            </li>
        </ul>
    </div>

    <!-- Cancelling questionnaire -->
    <div class="mx-5 my-5">
        <a th:href="@{/RemoveQuestionnaire(idProduct=${product.getIdProduct()})}" type="submit"> Remove this product and all associated data? </a>
    </div>

</body>
</html>