<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="en" th:lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Product's compiled questionnaires</title>
</head>
<body>
<div class="row my-5 mx-2 justify-content-center">
    <ul th:each="a : ${answers}">
        <li>
            <label th:text="${a.getProductByIdProduct().getName()}">product</label>
            <label th:text="${a.getQuestionByIdQuestion().getQuestionText()}">question</label>
            <label th:text="${a.getAnswerText()}">answer</label>
            <label th:text="${a.getUserByIdUser().getUsername()}">user</label>
        </li>
    </ul>
</div>
</body>
</html>