<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" th:lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta tag required for boostrap -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>ReviewQuestionnaires</title>
</head>
<body>
    <!-- main panel with products list-->
    <div>
        Select the product you want to inspect:
        <div th:if="${products.size() > 0}">
            <ul th:each="product : ${products}">
                <li>
                    <!-- Every product has the name displayed and the "inspect" option available -->
                    <form>
                        <label th:text="${product.getName()}"></label>
                        <img class="img-thumbnail" th:src="*{'data:image/png;base64,'+ product.getProductImage()}">
                        <a th:href="@{/InspectQuestionnaire(productId=${product.getIdProduct()})}" type="submit"> Inspect </a>
                        <hr />
                    </form>
                </li>
            </ul>
        </div>
        <label th:unless="${products.size() > 0}"> No products! </label>

    </div>

</body>
</html>